In [1]:
name = input("Enter your name: ")
age = input("Enter your age: ")

#print(f"Hello, {name}! You are {age} years old.")

print(f"Hello {name}! you are {age} years old!")

Enter your name: Junayed
Enter your age: 24
Hello Junayed! you are 24 years old!

In [2]:

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2 if num2 != 0 else "undefined (cannot divide by zero)"

print(f"Sum: {sum}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

print(type(sum))
print(type(difference))
print(type(product))
print(type(quotient))

Enter first number: 10
Enter second number: 20
Sum: 30
Difference: -10
Product: 200
Quotient: 0.5
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [3]:

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = float(input("Enter third number: "))

num1 = float(num1)
num2 = float(num2)

sum = num1 + num2 + num3
average = sum / 3

print(f"Sum: {sum}")
print(f"Average: {average}")

Enter first number: 10
Enter second number: 20
Enter third number: 30
Sum: 60.0
Average: 20.0

In [4]:
num = "45"

t1 = int(num)
t2 = float(num)

print(t1, type(t1))
print(t2, type(t2))
print(num, type(num))

print(f"value of t1: {t1}, type of t1: {type(t1)}")

45 <class 'int'>
45.0 <class 'float'>
45 <class 'str'>
value of t1: 45, type of t1: <class 'int'>

In [5]:

x= 10+3*2**2
print(x)

#  10 + 3 * 4
#  10 + 12
#  22

22

In [6]:
num1 = 10
num2 = 5

tmp = num1
num1 = num2
num2 = tmp
print(f"After swapping: num1 = {num1}, num2 = {num2}")

# Alternatively, using tuple unpacking
num1, num2 = num2, num1
print(f"After swapping again using tuple unpacking: num1 = {num1}, num2 = {num2}")

# Swapping without a temporary variable
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2
print(f"After swapping again without temporary variable: num1 = {num1}, num2 = {num2}")

# Using XOR bitwise operation to swap
num1 = num1 ^ num2
num2 = num1 ^ num2
num1 = num1 ^ num2
print(f"After swapping again using XOR: num1 = {num1}, num2 = {num2}")

After swapping: num1 = 5, num2 = 10
After swapping again using tuple unpacking: num1 = 10, num2 = 5
After swapping again without temporary variable: num1 = 5, num2 = 10
After swapping again using XOR: num1 = 10, num2 = 5

In [7]:
celsius = input("Enter temperature in Celsius: ")  # string input
celsius = float(celsius)  # convert string to number

fahrenheit = (celsius * 9/5) + 32  # formula

print(f"Temperature in Fahrenheit: {fahrenheit}")

Enter temperature in Celsius: 10
Temperature in Fahrenheit: 50.0

In [8]:
r = float(input("Enter radius of the circle: "))

area = 3.14 * r * r
print(f"Area of the circle: {area}")

Enter radius of the circle: 10
Area of the circle: 314.0

In [10]:
num = float(input("Enter a number: "))

integer_part = int(num)
fractional_part = num - integer_part
print(f"Integer part: {integer_part}")
print(f"Fractional part: {fractional_part}")

#print only fractional part, first two digits after decimal point
fractional_part_two_digits = round(fractional_part, 2) # rounding to 2 decimal places
print(f"Fractional part (two digits): {fractional_part_two_digits}")

Enter a number: 10.71
Integer part: 10
Fractional part: 0.7100000000000009
Fractional part (two digits): 0.71